<!DOCTYPE html>
<html>
<head>    
    <title>{{title}}</title>
</head>
<body>
    <h1 style="color:blue; text-align: center">Home</h1>
    <p style="font-size:24px">
        El <strong>aprendizaje de idiomas</strong> puede ser un instrumento para el aprendizaje de otras culturas, de otros puntos de vista, y una forma para el entendimiento entre distintas maneras de entender el mundo.
        </br>
        </br>
        Creemos que el aprendizaje del español puede ser un instrumento para el entendimiento entre diferentes culturas, y nuestra app pretende facilitar su aprendizaje de una manera inclusiva y accesible a todo el mundo.
        </br>
        </br>
        Para conocer más sobre nuestro <strong>modelo de negocio</strong>, visitar el siguiente (<a href="{{ url_for('business') }}">enlace</a>). 
        Para utilizar nuestra <strong>app</strong>,
        visitar el siguiente (<a href="{{ url_for('light_talk_app') }}">enlace</a>).
    </p>
    <p style="font-size:24px">
        Los desarrolladores de esta aplicación provienen de diferentes orígenes. La mayoría de nosotros somos estudiantes de licenciatura en la USAL, y compartimos un interés común en las políticas para mitigar el cambio climático y en la
        en la promoción del español de forma que pueda llegar a toda la población de manera justa e inclusiva.
    </p>

    <p style="font-size:24px; text-align: left">
        <strong>Desarrolladores:</strong>
        <ul style="font-size:24px; text-align: left">
            <li>
                <strong>Dessarrollador 1</strong>: Breve biografía. Enlace al cv.
            </li>
            <li>
                <strong>Dessarrollador 2</strong>: Breve biografía. Enlace al cv.
            </li>
        </ul>
    </p>
</body>
</html>

